.itemCard{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    border: solid 2px black;
    border-radius: 5px;
    background-color: grey;
    height: 5rem;
}

.itemCard_btn{
    background-color: hotpink;
    margin: 5px;
    border-radius: 5px;
}